.boxDoados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 1rem 4rem;

  h2 {
    margin: 1.5rem 0 2.5rem;
    font-size: 1.75rem;
    color: #005695;
    position: relative;
    font-weight: 600;
  }
}

.boxBooks {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  place-items: center;
}

@media (min-width: 1440px) {
  .boxBooks {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
  }
}
