header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
}
.boxLogo {
  width: 18vw;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    margin-bottom: 15px;
  }

  h1 {
    color: white;
    font-size: 28px;
    font-weight: 700;
  }
}

.boxMenu {
  width: 35vw;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: white;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.boxInput {
  border: solid 2px white;
  width: 17vw;
  margin-right: 20px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;

  input {
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    padding-left: 6px;
    &::placeholder {
      color: white;
    }
  }
}
