footer {
  height: 15vh;
}

.boxSocial {
  background-color: #005695;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 50px;
  padding-right: 50px;

  h3 {
    font-weight: 700;
  }

  nav {
    width: 16vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.boxEnd {
  background-color: #232020;
  height: 5vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
