.principal {
  height: 80vh;
  display: flex;
  justify-content: center;

  * {
    font-weight: 400;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 18px;
    text-align: center;
    margin: 1vh 5vw;
  }

  form {
    border: solid 3px #005695;
    width: 80%;
    height: 60vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    div {
      width: 100%;
      margin: 5vh 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #005695;
      font-size: 16px;
    }

    input {
      border: solid 2px #005695;
      width: 85%;
      height: 5vh;
      border-radius: 15px;

      color: black;
      font-size: 15px;
      padding-left: 6px;
    }

    button {
      border: none;
      border-radius: 15px;
      color: white;
      background-color: #005695;
      width: 65%;
      height: 6vh;

      font-size: 20px;
      font-weight: 400;

      margin-top: 4vh;

      transition: background-color 0.1s;
      &:hover {
        background-color: #003b66;
      }

      &:active {
        background-color: #00213d;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    h2 {
      font-size: 18px;
      text-align: center;
      margin: 1vh 5vw;
    }

    form {
      width: 50%;

      div {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 2560px) {
  .container {
    h2 {
      font-size: 32px;
      text-align: center;
      margin: 1vh 5vw;
    }

    form {
      width: 40%;

      div {
        font-size: 28px;
      }

      input {
        font-size: 18px;
      }

      button {
        font-size: 22px;
      }
    }
  }
}
